@body-color: #fff;
@bgr-color: #f1f1f1;
@color-black: #000;
@title-black: #010000;
@color-grey: #444;
@input-grey: #cccccc;
@color-green: #63d1bb;
@green-hover: #46c1ae;
@green-active: #bde3dd;
@dark-green: #56c3b2;
@border-grey: #ededed;
@modal-grey: #c7c7c7;
@title-grey: #f9f9f9;
@light-grey: #ececec;
@grey-active: #a8a8a8;
@btn-hover: #666666;
@btn-active: #b2b2b2;
@basket-active: #d0f1ea;
@btn-grey: #d3d2d2;
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
