.about {
  padding-top: 34px;
  padding-bottom: 60px;
  .about__item {
      font-size: 17px;
      line-height: 20px;
      font-weight: 400;
      padding-top: 92px;
      color: @color-grey;
    }
}
