.button {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  color: @color-grey;
  border:  2px solid @color-grey;
  background-color: @body-color;
  padding: 20px;
  text-transform: uppercase;
  text-decoration: none;

}
