.button {
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  display: block;
  color: @color-grey;
  border:  2px solid @color-grey;
  background-color: @body-color;
  padding-top: 15px;
  padding-bottom: 12px;
  text-transform: uppercase;
  text-decoration: none;
  width: 260px;
  height: 52px;
  text-align: center;
 &--basket {
   display: none;
 }
  &--feedback {
    margin-bottom: 40px;
  }
  &--contacts {
    margin: 0 auto;
  }
  &--modal {
    color: @body-color;
    background-color: @color-green;
    border: none;
    width: 100%;
  }
  &--product {
    padding-left: 8px;
  }
}
@media @tablet-widths {
  .button {
    &--product {
    width: 291px;
    }
    &--feedback {
      position: absolute;
      position: absolute;
      width: 175px;
      top: 81px;
      right: 48px;
    }
    &--contacts {
      width: 230px;
      margin-top: 55px;
    }
  }
}
