.catalog {
    .catalog__item {
    margin-bottom: 32px;
    border: 1px solid @border-grey;
    }
  .catalog__title {
      font-size: 17px;
      line-height: 24px;
      font-weight: 600;
      padding-top: 30px;
      padding-bottom: 18px;
      color: @color-black;
      text-decoration: none;
    }
  .catalog__feature {
      font-size: 13px;
      line-height: 30px;
      font-weight: 400;
      padding-bottom: 22px;
      color: @color-grey;
    }
  .catalog__price {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 27px;
    color: @color-black;
  }
}
