.contacts {
  padding-top: 21px;
  padding-bottom: 40px;
}
.contacts__wrapper {
  .container();
  margin-bottom: 38px;
}
  .contacts__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: @color-black;
    display: block;
  }
  .contacts__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
  }
  .contacts__item {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: @color-grey;
    padding-bottom: 45px;
    display: table-row;
    span {
      display: table-cell;
      padding-right: 32px;
      padding-top: 27px;
      padding-bottom: 3px;
    }
     p {
       display: table-cell;
      }
    a {
      display: block;
      text-decoration: none;
      color: @color-grey;
    }
    &--mail a {
      border-bottom: 1px solid @color-green;
    }
    &--mail a:hover {
      color: @color-green;
    }
    &--mail a:active {
      opacity: 0.3;
    }
      &--address {
        p {
          padding-right: 30px;
        }
      }
}
    @media @tablet-widths {
      .contacts {
        font-size: 17px;
        line-height: 30px;
        padding-top: 76px;
        padding-bottom: 58px;
        position: relative;
      }
      .contacts__wrapper {
        margin-bottom: 12px;
      }
      .contacts__title {
        font-size: 43px;
        line-height: 50px;
        padding-bottom: 21px;
        margin-left: -5px;
        position: relative;
      }
      .contacts__title::after {
        content: "";
        position: absolute;
        background-image: url("../img/icon-flag.svg");
        width: 47px;
        height: 82px;
        right: 3px;
        bottom: 3px;
    }
      .contacts__item {
        font-size: 17px;
        line-height: 30px;
        display: table-cell;
        width: 334px;
        span {
          padding-right: 24px;
        }
          &--mail a {
            border-bottom: 1px solid @color-green;
          display: inherit;
        }
      }
    }
    @media @desktop-widths {
    .contacts {
      display: flex;
      padding-top: 164px;
      padding-bottom: 65px;
      flex-wrap: wrap;
      position: relative;
    }
    .contacts__title {
      font-size: 53px;
      line-height: 57px;
      padding-bottom: 20px;
    }
    .contacts__title::after {
      left: -104px;
    }
    .contacts__list {
      margin-bottom: 91px;
    }
    .contacts__wrapper {
      width: 50%;
      padding-left: 326px;
      margin: 0;
    }
    .contacts__item {
      font-size: 17px;
      display: table-row;
      width: 350px;
      padding-bottom: 50px;
      span {
        padding-bottom: 0px;
      }
      &--mail a {
        border-bottom: 1px solid @color-green;
        padding-right: 20px;
      }
      &--address p {
        padding-right: 48px;
      }
    }
}
