.feedback {
  margin-bottom: 42px;
  .feedback__title {
    padding-bottom: 33px;
  }
  .feedback__text {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: @color-grey;
    padding-bottom: 64px;
  }
  .feedback__user {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: @color-black;
    padding-bottom: 15px;
  }
  .feedback__mail {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: @color-grey;
    padding-bottom: 31px;
  }
  .feedback__btn {
    border: 1px solid @light-grey;
    padding: 11px 38px;
    padding-bottom: 38px;
  }
}
