  .footer {
    padding-top: 23px;
    padding-bottom: 33px;
    background-color: @bgr-color;
}
.footer__wrapper {
  .container ();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  .footer__logo {
    display: none;
  }
  .footer__copyright {
    display: inline-block;
    vertical-align: top;
    width: 185px;
    padding-top: 27px;
    padding-left: 3px;
    font-size: 19px;
    line-height: 18px;
    font-weight: 600;
    color: @color-black;
    padding-top: 27px;
    padding-left: 3px;
    border-top: 1px solid @footer-grey;
    span {
      padding-left: 35px;
    }
}
  .footer__copyright:active {
    color: @grey-active;
  }
  .footer__link {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-top: -2px;
  }
.footer__svg {
  fill: @color-green;
  &--academy {
    width: 27px;
    height: 34px;
  }
}
.footer__svg:hover {
  fill: @green-hover;
}
.footer__svg:active {
  fill: @green-active;
}
  @media @tablet-widths {
    .footer {
      padding-top: 56px;
    }
    .footer__wrapper {
      justify-content: space-between;
    }
    .footer__logo {
      display: block;
      width: 104px;
      height: 34px;
      margin-top: -4px;
    }
    .footer__logo svg:hover {
      fill: @green-hover;
    }
    .footer__logo svg:active {
      fill: @green-active;
    }
    .footer__copyright {
      padding-top: 5px;
      padding-left: 1px;
      width: 221px;
      border-top: none;
    }
    .footer__link {
      margin-left: 24px;
      margin-top: -5px;
    }
  }
