  .footer {
    font-family: "OpenSans", Arial, sans-serif;
    margin: 0 30px;
    padding-top: 23px;
    padding-bottom: 22px;
    background-color: @bgr-color;
}
  .header__wrapper {
    padding: 0 30px;
}
  .footer__copyright {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    color: @color-black;
    padding-top: 31px;
    padding-left: 38px;
    padding-right: 38px;
  }
  .footer__link {
    padding-top: 21px;
    padding-left: 53px;
  }

  @media @tablet-widths {
  .footer__wrapper {
    padding: 0 50px;
  }
