.form {
  margin-top: 32px;
  font-family: "OpenSans", Arial, sans-serif;
  .form__list {
    margin-bottom: 34px;
  }
  .form-title {
    padding-right: 28px;
    font-size: 17px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: @color-green ;
  }
}
