.header {
  position: relative;
  border-bottom: 1px solid @light-grey;
}

.header__wrapper {
}


@media @tablet-widths {
  .header {
    height: 90px;
    }
  .header__wrapper {
    display: flex;
      .container ();
  }
}

@media @desktop-widths {
  .header {
    height: 90px;
  }
}
