.main {
  width: 100%;
}
.main__title-container {
  background-color: @title-grey;
}
.main__wrapper {
  .container ();
    /*padding: 0 30px;*/
}
.main__title {
  &--index {
  .container();
  }
}
  .main__title {
    padding-top: 76px;
    background-color: @bgr-color;
    &--index {
      padding-bottom: 80px;
      padding-top: 80px;
      text-align: center;
      background: url("../img/hero-mobile@1x.jpg") no-repeat;
    }
  }
    .main__comment {
      display: none;
    }
    .main__description {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: @color-grey;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .main__link {
    text-decoration: none;
    display: block;
    height: 118px;
    position: relative;
    background-color: @color-green;
      &:nth-child(even) {
        background-color:@dark-green;
      }
  }
  .main__item {
    padding-top: 30px;
    padding-bottom: 34px;
    padding-left: 30px;
    width: 130px;
    font-size: 19px;
    line-height: 24px;
    font-weight: 600;
    color: @body-color;
    }

  @media @tablet-widths {
      /*.main__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    }*/
    .main__title-container {
      width: 100%;
      }
    .main__container {
      .container ();
    }
  .main__link {
    display: inline-block;
    vertical-align: top;
    height: 110px;
    width: 50%;
    margin-right: -5px;
      &:nth-child(2) {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
  .main__title {
    display: inline-block;
    text-align: center;
    vertical-align: top;
      &--index {
        padding-left: 87px;
        padding-right: 87px;
        padding-top: 162px;
        }
  }
  .main__description {
    margin-top: 73px;
    margin-bottom: 66px;
  }
  .main__item {
    display: block;
    width: 167px;
    padding-left: 35px;
  }
}

  @media @desktop-widths {
    /*.main__link {
      margin: 0;
      margin-right: -5px;
      &:nth-child(2) {
        margin: 0;
      }
    } */

    .main__title {
      padding-bottom: 94px;
    &--index {
      padding-left: 43px;
      padding-right: 44px;
      padding-top: 166px;
      padding-bottom: 350px;
    }
  }
  .main__description {
    margin-top: 142px;
    }
  .main__item {
    width: 175px;
}
  }
