.menu {
  width: 320px;
  margin: 0 auto;
}

  .menu__list, .menu__user {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
  }
  .menu__item, .menu__user-item {
    font-size: 19px;
    line-height: 24px;
    font-weight: 600;
    }
  .menu__link, .menu__user-link {
    color: @color-black;
    text-decoration: none;
    padding-left: 46px;
  }

  @media @tablet-widths {
    .menu {
      width: auto;
      margin: 0;
    }
    .menu__wrapper {
      .container();
      .clearfix();
    }
  }
    .menu__item {
      float: left;
      width: 334px;
  }
    .menu__user-item {
      float: right;
      width: 350px;
      }

  @media @desktop-widths {
  .menu__user-item {
    }
}
