/*.modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: @body-color;
  border-top: 1px solid @modal-grey;
  box-shadow: 0px 10px 28px -2px @border-grey;
  width: 100%;
  height: 338px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 46px;
  display: none;
  position: fixed;
}

.modal__overlay {
  display: none;
  &--show  {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
  .modal__wrapper {
    width: 260px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input {
      display: none;
    }
  }

  .modal__wrapper {
  label {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
  height: 48px;
  padding: 0;
  padding-top: 13px;
  margin-right: 7px;
  margin-bottom: 30px;
  flex-grow: 1;
  border: 2px solid @light-grey;
  }
  label:hover {
  border: 2px solid @modal-grey;
  }
}
  .modal__wrapper {
  label:last-of-type {
    margin-right: 0;
  }
  }

.modal__wrapper input:checked + label {
      border: 2px solid @color-green;
  }

  .modal__form {
    p {
      text-align: center;
      margin: 0 auto;
    }
  }

  .modal__title {
    display: block;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
    width: 150px;
  }

  .modal__text {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 30px;
  }

@media @tablet-widths {
  .modal {
    width: 568px;
    height: 340px;
  }
  .modal__wrapper {
    width: 350px;
    margin-left: 108px;
    margin-right: 108px;
  }
}
.modal__overlay {
  display: none;
  &--show  {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@media @desktop-widths {
  .modal {
    box-shadow: 0px 10px 24px 2px #ededed;
  }
  .modal__form {
    p {
      text-align: center;
      width: 350px;
    }
  }
  .modal__overlay {
    &--show  {
      top: 50%;
      left: 50%;
      margin-left: -250px;
      margin-top: -150px;
    }
  }
}*/
.modal {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal__overlay {
  display: none;
  &--show  {
    position: fixed;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.modal__form {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 46px;
  border-top: 1px solid #c6c6c6;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.25);
}
.modal__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
.modal__title {
  width: 260px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.modal__text {
  width: 260px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 24px;
}
.modal__size {
  display: none;
  &:checked + .modal__label {
    border-color: @color-green;
  }
}
.modal__label {
  box-sizing: border-box;
  width: 82px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 17px;

  font-weight: 700;
  color: #444444;
  border: 2px solid #ececec;
  margin-bottom: 28px;
  transition: 80ms;
  &:hover {
    border: 2px solid #c7c7c7;
  }
}
@media @tablet-widths {
  .modal__form {
    width: 568px;
    padding-top: 35px;
    padding-bottom: 46px;
    border: 1px solid #c6c6c6;
  }
  .modal__container {
    width: 370px;
  }
  .modal__title {
    width: 370px;
    font-size: 30px;
    line-height: 57px;
  }
  .modal__text {
    width: 370px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .modal__label {
    width: 112px;
    margin-bottom: 31px;
    &:nth-of-type(1) {
      margin-left: 7px;
    }
    &:nth-of-type(3) {
      margin-right: 10px;
    }
  }
}
