.social {
  width: 190px;
  display: block; /*временно*/
  color: black; /*временно*/
  padding-bottom: 28px;
  padding-left: 57px;
  padding-right: 62px;
}

@media @tablet-widths {
  width: 170px;
}
