.social {
  width: 190px;
  padding-bottom: 28px;
  padding-left: 19px;
}
.social__button {
  padding-right: 37px;
}
.social__button:last-child {
  padding-right: 0;
}
.social__svg {
  &--ig {
    width: 22px;
    height: 21px;
  }
  &--fb {
    width: 13px;
    height: 31px;
    margin-bottom: -3px;
  }
  &--tw {
    width: 24px;
    height: 20px;
  }
}
.social__svg:hover {
  fill: @green-hover;
}
.social__svg:active {
  fill: @green-active;
}

@media @tablet-widths {
  width: 170px;
}
